<p id="notice"><%= notice %></p>

<p>
  <strong>Attr1:</strong>
  <%= @record_a.attr1 %>
</p>

<p>
  <strong>Attr2:</strong>
  <%= @record_a.attr2 %>
</p>

<p>
  <strong>Attr3:</strong>
  <%= @record_a.attr3 %>
</p>

<p>
  <strong>Attr4:</strong>
  <%= @record_a.attr4 %>
</p>

<p>
  <strong>Attr5:</strong>
  <%= @record_a.attr5 %>
</p>

<%= link_to 'Edit', edit_record_a_path(@record_a) %> |
<%= link_to 'Back', record_as_path %>
