<p id="notice"><%= notice %></p>

<p>
  <strong>Attr1:</strong>
  <%= @record_b.attr1 %>
</p>

<p>
  <strong>Attr2:</strong>
  <%= @record_b.attr2 %>
</p>

<p>
  <strong>Attr3:</strong>
  <%= @record_b.attr3 %>
</p>

<p>
  <strong>Attr4:</strong>
  <%= @record_b.attr4 %>
</p>

<p>
  <strong>Attr5:</strong>
  <%= @record_b.attr5 %>
</p>

<%= link_to 'Edit', edit_record_b_path(@record_b) %> |
<%= link_to 'Back', record_bs_path %>
