<p id="notice"><%= notice %></p>

<p>
  <strong>Attr1:</strong>
  <%= @record_c.attr1 %>
</p>

<p>
  <strong>Attr2:</strong>
  <%= @record_c.attr2 %>
</p>

<p>
  <strong>Attr3:</strong>
  <%= @record_c.attr3 %>
</p>

<p>
  <strong>Attr4:</strong>
  <%= @record_c.attr4 %>
</p>

<p>
  <strong>Attr5:</strong>
  <%= @record_c.attr5 %>
</p>

<p>
  <strong>Attr6:</strong>
  <%= @record_c.attr6 %>
</p>

<%= link_to 'Edit', edit_record_c_path(@record_c) %> |
<%= link_to 'Back', record_cs_path %>
